/* 1. Connecting fonts */
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* play-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

a {
  display: inline-block;
}

/* Додаємо до кожній секціі верхній та нишній відступ */
.section-all-padding {
  padding: 48px 0px;
}

/* Прибираємо padding-top з заголовків та параграфів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

/* Загальна розмітка для кожної секціі */
.container {
  width: 100%;
  max-width: 1288px;
  padding: 0px 24px;
  margin: 0 auto;
}

/* 2. Body-CSS */
body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  background-color: var(--Primary-colors-white);
}

/* 3. Removing the marking */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* 4. Base with colors */
:root {
  --Primary-colors-white: #ffffff;
  --Primary-colors-blue: #2b7fff;
  --Primary-colors-navy-blue: #011c44;
  --Secondary-colors-grey: #4a4a4a;
  --Secondary-colors-grey-light: #4a4a4a;
  --Secondary-colors-yellow: #ffd02b;
}

/* 5. Header */
/* 5.1 Logo */
.logo-link {
  font-family: 'Play', 'sans-serif';
  font-size: 22px;
  font-weight: 700;
  /* line-height: 1.9; */
  color: var(--Primary-colors-blue);
  text-decoration: none;
  text-transform: capitalize;
  width: 74px;
  height: 42px;
}
/* 5.2 Navigation */
.link {
  line-height: 1.16;
  color: var(--Primary-colors-navy-blue);
  text-decoration: none;
}
.link:hover {
  color: var(--Primary-colors-blue);
}

/* 6. Section#1 [MAIN TITLE] */
/* 6.1 Subtitle */
.Subtitle {
  line-height: 1.16;
  color: var(--Primary-colors-navy-blue);
  margin-bottom: 0;
}
/* 6.2 Website-name */
.Website-name {
  font-family: 'Play', 'sans-serif';
  font-size: 140px;
  font-weight: 700;
  margin-bottom: 40px;
  font-style: Bold;
  color: var(--Primary-colors-blue);
  line-height: 1;
}
/* 6.3 Button */
.button {
  font-size: 16px;
  font-family: inherit;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 600;
  color: var(--Primary-colors-white);
  line-height: 1.16;
  background-color: var(--Primary-colors-blue);
  border-radius: 32px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  width: 219px;
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.button:hover {
  background-color: var(--Secondary-colors-grey-light);
}
/* 6.4 Bottom-header */
.Bottom-header {
  font-size: 12px;
  line-height: 2;
  color: var(--Secondary-colors-grey);
  text-align: center;
}

/* 7. Section #2 */
.Section-title2 {
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
  font-weight: 700;
  line-height: 1.16;
  font-style: Bold;
  color: var(--Primary-colors-navy-blue);
  width: 529px;
  height: 148px;
  margin-bottom: 0;
}

.Section-title2 span {
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  text-transform: capitalize;
  color: var(--Primary-colors-blue);
  margin-bottom: 0;
}

/* 7.1 Paragraph1-Section-2 */
.Paragraph1-Section-2 {
  font-size: 22px;
  line-height: 1.75;
  color: var(--Primary-colors-navy-blue);
  width: 709px;
  height: 76px;
  margin-bottom: 0;
}

/* 7.2 Paragraph2-Section-2 */
.Paragraph2-Section-2 {
  font-size: 22px;
  line-height: 2;
  color: var(--Primary-colors-navy-blue);
  width: 709px;
  height: 152px;
  margin-bottom: 0;
}

/* 7.3 Paragraph2-Section-2 */
.Paragraph2-Section-2 span {
  font-size: 22px;
  font-weight: 600;
}

/* 8. Section #3 */
/* 8.1 Section-title3  */
.Section-title3 {
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  text-align: center;
  color: var(--Primary-colors-navy-blue);
  width: 432px;
  height: 148px;
  margin-bottom: 0;
}
.Section-title3 span {
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
  font-weight: 700;
  font-style: Bold;
  text-align: center;
  color: var(--Primary-colors-blue);
  display: block;
}

/* 8.2 Section3-paragraphs*/
.Section3-paragraphs {
  line-height: 1.5;
  color: #000000;
  background: var(--Primary-colors-white);
  border-radius: 32px;
  text-align: center;
  margin-bottom: 0;
  width: 232px;
  height: 133px;
}

/* 9. Section #4 */
/* 9.1 Section-title-4 */
.Section-title-4 {
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: Bold;
  color: #000000;
  line-height: 1.15;
  width: 510px;
  height: 74px;
  margin-bottom: 0;
}
.Section-title-4 span {
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: Bold;
  color: var(--Primary-colors-blue);
  line-height: 1.15;
}

/* 9.2 Procedurs-Section4 */
.Procedurs-Section4 {
  font-size: 22px;
  text-align: center;
  color: var(--Primary-colors-white);
  margin-bottom: 0;
  width: 152px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* 10. Name-for-article (transparent)*/
.Name-for-article {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* 11. Section 5 */
/* 11.1 Contacts-Title-Section5  */
.Contacts-Title-Section5 {
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: Bold;
  line-height: 1.17;
  color: var(--Primary-colors-navy-blue);
}
.Contacts-Title-Section5 span {
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  font-style: Bold;
  line-height: 1.17;
  color: var(--Primary-colors-blue);
}

/* 11.2 Title-Form-Section5 */
.Title-Form-Section5 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  color: var(--Primary-colors-white);
  width: 274px;
  height: 52px;
  margin: 0;
}
.Title-Form-Section5 span {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 2.36;
  color: var(--Primary-colors-blue);
}

/* 11.3 Privacy-Policy-Section5 */
.Privacy-Policy-Section5 {
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  color: var(--Secondary-colors-grey-light);
  margin: 0;
}
.Privacy-Policy-Section5 span {
  font-size: 12px;
  text-align: center;
  line-height: 3;
  color: var(--Secondary-colors-grey-light);
  font-style: Solid;
  text-decoration: underline;
}

/* 12. Footer */
/* 12.1 Link-Footer */
.link-footer {
  font-size: 16px;
  line-height: 1.16;
  color: var(--Primary-colors-white);
  text-decoration: none;
}
.link-footer:hover {
  color: var(--Primary-colors-blue);
}

/* 12.2 Link2-footer */
.link2-footer {
  font-size: 16px;
  font-style: normal;
  color: var(--Primary-colors-white);
  line-height: 1.18;
  text-decoration: none;
}

/* 12.3 Privacy-Policy-Footer */
.Privacy-Policy-Footer {
  font-size: 16px;
  line-height: 1.18;
  color: var(--Primary-colors-white);
  margin-bottom: 0;
  flex-grow: 1;
}

/* 12.4 Copyright-Footer */
.Copyright-Footer {
  font-size: 13px;
  line-height: 1.15;
  color: var(--Secondary-colors-grey-light);
  margin-bottom: 0;
  flex-grow: 1;
}

/* 13. Flex-box */
/* 13.1 Header */
.header {
  padding: 32px 0px;
}
.header-logo-nav-adress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.25);
}
.header-nav {
  display: flex;
  gap: 56px;
  align-items: center;
  width: 525px;
  height: 21px;
}
.header-logo-nav {
  display: flex;
  gap: 240px;
  align-items: center;
}
.header-adress {
  display: flex;
  gap: 32px;
  width: 160px;
  height: 32px;
  align-items: center;
}
.padding-for-nav {
  padding: 10.5px 0px;
}
.padding-for-address {
  padding: 5px 0px;
}
.header-icons-sprite {
  width: 32px;
  height: 32px;
  fill: var(--Primary-colors-navy-blue);
}

/* 13.2 Section-1 */
.section1-everything {
  display: flex;
  width: 529px;
  height: 428px;
  flex-direction: column;
}
.section-all-padding.section1 {
  /* padding-bottom: 126px; */
  /* margin-bottom: 126px; */
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding-left: 100px;
  padding-top: 16px;
  background-image:
    linear-gradient(
      89.38deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url('fon-for-section1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section1-everything {
  margin-bottom: 156px;
}
.section1-subtitle-name {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
}
.section1-button-bottom-header {
  display: flex;
  flex-direction: column;
  width: 238px;
  height: 103px;
  gap: 14px;
}
.Bottom-header {
  margin-bottom: 0;
}

/* 13.3 Section-3 */
.section2-container {
  display: flex;
  gap: 32px;
}
.section2-text-all {
  display: flex;
  width: 909px;
  height: 456px;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 199px;
}
.section2-img-all {
  display: flex;
  flex-direction: column;
  width: 499px;
  height: 695px;
  gap: 40px;
  align-items: center;
}
.section2-img1 {
  width: 327px;
  height: 327px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
}
.section2-img2 {
  width: 327px;
  height: 327px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
}

/* 13.4 Section-3 */
.section3-container {
  display: flex;
  flex-direction: column;
  width: 1060px;
  height: 377px;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.section3-container-padding {
  padding-left: 90px;
  padding-right: 90px;
  background-image: linear-gradient(
    38.2deg,
    rgba(43, 127, 255, 0.2) 39.74%,
    rgba(43, 127, 255, 0) 54.16%,
    rgba(43, 127, 255, 0) 66.66%
  );
}
.section3-article {
  display: flex;
  justify-content: space-between;
  gap: 56px;
  flex-direction: row;
}
.section3-article-border {
  width: 316px;
  height: 181px;
  border: 1px solid gray;
  border-radius: 32px;
  background-color: var(--Primary-colors-white);
  padding: 24px 32px;
}
.section3-article2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section3-container-article-discription {
  width: 252px;
  height: 133px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.section-all-padding.section3 {
  padding-top: 88px;
}
.section-all-padding.section2 {
  padding-bottom: 88px;
}

/* 13.5 Section-4 */
.section4-procedurs {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0;
  margin: 0;
}
.section4-procedurs li {
  flex-basis: 344px;
  flex-grow: 1;
}
.masksforface {
  width: 344px;
  height: 456px;
  border-top-left-radius: 4px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 120px;
  overflow: hidden;
  background-image:
    linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      #011c44 101.39%
    ),
    url('1procedurs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.masksforface2 {
  width: 344px;
  height: 456px;
  border-top-left-radius: 4px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 120px;
  overflow: hidden;
  background-image:
    linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      #011c44 101.39%
    ),
    url('2procedurs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.masksforface3 {
  width: 344px;
  height: 456px;
  border-top-left-radius: 4px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 120px;
  overflow: hidden;
  background-image:
    linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.725825) 84.61%,
      #011c44 101.39%
    ),
    url('3procedurs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section4-container-all {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.section4-main-text {
  display: flex;
  justify-content: center;
}

/* 13.6 Section-5 */
.section5-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.section5-form {
  width: 422px;
  height: 482px;
  display: flex;
  flex-direction: column;
  background-color: var(--Primary-colors-navy-blue);
  border: 4px solid var(--Primary-colors-navy-blue);
  border-radius: 32px;
  padding: 48px 57px 48px 56px;
}
.section5-container-all {
  width: 1059px;
  height: 602px;
  margin-left: 64px;
  margin-right: 93px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cards-section5 {
  border: 1px solid transparent;
  border-radius: 32px;
  width: 605px;
  height: 481px;
}
.section5-after-register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}
.button.section5 {
  width: 281px;
  height: 53px;
}
.section5-form-container {
  width: 310px;
  height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-self: center;
}
.section5-form-main-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.container-section5-plus-icons {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 32px;
}
.style-strelka-section5 {
  width: 44px;
  height: 44px;
}
/* 13.7 Footer */
.section-all-padding.footer {
  padding-bottom: 0;
}
.footer-container {
  display: flex;
  gap: 150px;
  flex-direction: row;
  padding: 56px 50px;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
}
.footer-links-nav {
  width: 203px;
  height: 124px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logo-link.footer {
  width: 82px;
  height: 42px;
}
.footer-adress {
  width: 192px;
  height: 166px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-adress-logos {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer-icons-sprite {
  width: 32px;
  height: 42px;
  fill: var(--Primary-colors-white);
}
.footer-adress-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-last-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 203px;
  height: 50px;
}
.footer-adress-container {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  flex-grow: 1;
}
.footer-container {
  background-color: var(--Primary-colors-navy-blue);
  background-image: url('footer-background.png');
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  gap: 150px;
}
.elemet {
  display: flex;
}
